@* Jack Gerber - A01266976
   Date: Feb 16, 2025 *@

@{
    ViewData["Title"] = "Approval Pending";
}

<h2>Your account is still awaiting approval by an admin.</h2>
<p>Once your account is approved, you'll be able to access the full website.</p>
<p>If you have any questions, please contact support.</p>
